# pycharm
.idea/

# pytest
.pytest_cache
.cache

# Unit test / coverage reports
.coverage
coverage.xml

# Temporary files
__pycache__/

# WideQ test file
custom_components/smartthinq_sensors/wideq/deviceV2.txt
