# artifacts
__pycache__
.pytest*
.cache
*.egg-info
*/build/*
*/dist/*

# pycharm
.idea/

# Unit test / coverage reports
.coverage
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml

# WideQ test file
custom_components/smartthinq_sensors/wideq/deviceV1.txt
custom_components/smartthinq_sensors/wideq/deviceV2.txt
