# Home Assistant Core
colorlog==6.7.0
homeassistant==2023.7.0
pip>=21.0,<23.2
ruff==0.0.261
pre-commit==3.0.0
flake8==6.0.0
isort==5.12.0
black==23.1.0
xmltodict>=0.12.0
charset_normalizer>=2.0.0
pycountry>=20.7.3
