# Strictly for tests
pytest==8.3.1
#pytest-cov==2.9.0
#pytest-homeassistant
pytest-homeassistant-custom-component==0.13.155
# From our manifest.json for our custom component
xmltodict>=0.13.0
charset_normalizer>=3.2.0
pycountry>=23.12.11
