# Strictly for tests
pytest==7.1.3
#pytest-cov==2.9.0
#pytest-homeassistant
pytest-homeassistant-custom-component==0.12.21
# From our manifest.json for our custom component
xmltodict>=0.12.0
charset_normalizer>=2.0.0
pycountry>=20.7.3
