# Strictly for tests
pytest
#pytest-cov==2.9.0
#pytest-homeassistant
pytest-homeassistant-custom-component==0.12.21
# From our manifest.json for our custom component
xmltodict>=0.12.0
cchardet>=2.1.7
pycountry>=20.7.3
