name: Validate with Hassfest

on:
  push:
    branches:
      - master

  pull_request:
    branches: ["*"]

  schedule:
    - cron: "0 0 * * *"

jobs:
  validate_hassfest:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
      - uses: home-assistant/actions/hassfest@master
